/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // ─── QC ───────────────────────────────────────────────────────────────────

    withName: 'FASTQC' {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // ─── DECONTAMINATION ──────────────────────────────────────────────────────

    withName: 'BOWTIE2_ALIGN_DECONTAM' {
        ext.args  = ''
        ext.args2 = ''
        publishDir = [
            path: { "${params.outdir}/decontam" },
            mode: params.publish_dir_mode,
            pattern: '*.unmapped*.fastq.gz',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // ─── TAXONOMY ─────────────────────────────────────────────────────────────

    withName: 'BOWTIE2_ALIGN_TAXONOMY' {
        ext.args  = ''
        ext.args2 = '-h --output-fmt sam'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'TAXONOMY_Q30_FILTER' {
        publishDir = [
            // Intermediate files: do not publish
            enabled: true,
            path: { "${params.outdir}/Q_30_Filter" },

        ]
    }

    withName: 'COVERAGEFILTER' {
        ext.args  = "-c ${params.coverage} -m ${params.min_read_length}"
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/CoverageFilter" },
        ]
    }

    withName: 'TAXONOMY_BAM_BUILD' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/BAM_Build" }
        ]
    }

    withName: 'ASSEMBLY_HITS' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/Assembly_Hits" }
        ]
    }

    withName: 'BUGLIST' {
        publishDir = [
            path: { "${params.outdir}/taxonomic_profiling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // ─── FUNCTIONAL ───────────────────────────────────────────────────────────

    withName: 'MERGE_READS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'DIAMOND_BLASTX' {
        // -b5 -c1: performance tuning
        // --query-cover 95: minimum 95 % query coverage
        // --id 99: minimum 99 % sequence identity
        ext.args   = '-b5 -c1 --query-cover 95 --id 99'
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/Diamond_Blastx" }
        ]
    }

    withName: 'DIAMOND_FILTER' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/Diamond_Filter" }
        ]
    }

    withName: 'GET_PWY_ABUNDANCE' {
        publishDir = [
            path: { "${params.outdir}/functional_profiling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
